@import url("https://fonts.bunny.net/css?family=abril-fatface:400|rubik:600,800i,900i");

body {
    font-family: Abril-Fatface, Rubik;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

a:visited {
    color: blue;
  }